
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
	font-family: "PT Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
 *{
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
 *{
    margin: 0;
    padding: 0;
 }
 body{
    height: 100vh;
    width: 1050px;
 }
 
.header{
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color:#2c3e50;
    color: #dcdde1;
    display: flex;
    justify-content: space-between;
    align-items: start;
    z-index: 5;
    position: fixed;
   
}

.sidebar li{
    padding: 5px;
}
.logo{
    font-size: 20px;
    font-weight: 500;
    color: #ecf0f1;
}
/*.header button{
    width: 50px;
    flex-shrink: 0;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    color: #ecf0f1;
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
	position: sticky;
}

.bar{
    width: 100%;
    height: 3px;
    background-color: #dcdde1;
    border-radius: 10px;
}
.links{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background-color: #dcdde1;
}
.link{
    display: flex;
    align-items: center;
    padding: 12px 15px;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
    color: #333;
}
.link.active,
.link:hover{
    color:#2c3e50;
    background-color: #ecf0f1;

}
.links{
    transform: translateX(-250px);
    transition: 0.5s;
}

.open .links{
    transform: translateX(0px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.open .nav-overlay{
    visibility: visible;
    opacity: 1;
}*/
.content{
    padding: 10px;
    background-color: #ecf0f1;
}
h2{
	background-image: url(img/bgimage1.avif);   
    background-clip: content-box;
	height: 120px;
    font-size: 100px;
    color: transparent;
    background-clip: text;
    margin: 0;
    padding: 0;
    text-align: center;
}
.abstract{
    height: 100%;
    place-items: center;
    position: relative;
    background-image: url(img/bgimg4.webp);
    background-size: cover;
    background-clip: padding-box;
}
.one{
    font-size: 26px; 
    color: #aaa69d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    text-align: 0.5,1 ,linear;

}


.abstract h3{
text-align: center;
font-size: 50px;
background-image: url(img/bgimage2.jfif);
color: transparent;
background-clip: text;
}
.abstract p{
text-align: center;
}

.parallax-clip{
    height: vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fixed-parallax{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    background-color: rgba(0,0,0,0.5) ;
    margin: 0;
    padding: 0;
}
#introduction{
    text-align: center;
    padding: 30px 30px;
    font-size: 22px;
    text-overflow: hidden;
    p{
        background-image: url(img/bgimage1.avif);
        color: transparent;
        background-clip: text;
    }
    
}
#backgrount{
    text-align: center ;
    padding: 30px 30px;
    font-size: 25px;
    color: #020100;
    
    text-overflow: hidden;
    p{
        background: rgb(254,92,85);
        background: radial-gradient(circle, rgba(254,92,85,1) 7%, rgba(255,151,146,1) 21%, rgba(238,179,94,1) 47%, rgba(252,176,69,1) 83%);
        color: transparent;
        background-clip: text;
    }
    
}
.executive {
    h3{
    text-align: center;
    font-size: 75px;
    background-image: url(img/bgimage8.avif);
    color: transparent;
    background-clip: text;
    font-weight: 500;
    text-overflow: hidden;
    }
    p{
      padding: 30px;
    text-align: center;
    font-size: 30px;
    color: black;
    background-clip: text;  
    justify-content: center;
    justify-items: baseline;
    }
}
.executive{
    padding: 20px;
    text-align: center;
    padding-bottom: 0;
}


.description{
    
    text-overflow: hidden;
    h3{
        text-align: center;
        color: #130f40;
        font-size: 50px;
        padding: 30px;
    }
    p{
        text-align: center;
        padding: 10px;
        font-size: 25px;
    }
}
.methods{
    
    text-overflow: hidden;
    h3{
        text-align: center;
        color: #120f40;
        font-size: 75px;
        padding: 20px;
        padding-top: 50px;
    }
    p{
        justify-content: center;
        padding: 20px;
        align-content: center;
        font-size: 25px;
        margin: 20px;
        text-align: center;
    }
    h4{
        text-align: left;
        color: #0060b5;
        font-size: 50px;
        padding: 20px;
        margin-left: 10px;
        display: inline-block;
    }
    ul{
        list-style-type:square;
        list-style-position: inside;
        padding: 20px;
        font-size: 20px;
        color: #0a3d62;
        font-weight: lighter;

    }
    img{
        width: 300px;
        height: 200px;
        margin: 20px;
        margin-right: 40px;
    }
}
.methods img:nth-of-type(odd){
    float: left;
}
.methods img:nth-of-type(even){
    float: right;
}
.result{
    h3{
        text-align: center;
        color: #120f40;
        font-size: 75px;
        
    text-overflow: hidden;
    }
   
} 
#result p{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: #07051a;
}
.conclusion{
    text-overflow: hidden;
    h2{
        text-align: center;
    }
 p{
        text-align: center;
        font-size: 25px;
        color: transparent;
        background-image: url(img/bgimage2.jfif);
        background-clip: text;
        margin: 50px;
        padding: 30px;
    }
}

.last{
    margin: 0;
    top: 0;
    background-color: #192a56;
    color: #40739e;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;

}
.lastone{
    background-color: #273c75;
    color: #487eb0;
    text-align: center;
    height: 200px;
    padding: 50px;
}
p{
    text-overflow: hidden;
}

@media screen and(max-width:600px) {
    h2{
        background-image: url(img/bgimage1.avif);   
        background-clip: content-box;
        height: 120px;
        font-size: 50px;
        color: transparent;
        background-clip: text;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .abstract{
        height: 100%;
        place-items: center;
        position: relative;
        background-image: url(img/bgimg4.webp);
        background-size: cover;
        background-clip: padding-box;
    }
    .one{
        font-size: 13px; 
        color: #aaa69d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0,0,0,0.5);
        text-align: 0.5,1 ,linear;
    
    }
    
    
    .abstract h3{
    text-align: center;
    font-size: 25px;
    background-image: url(img/bgimage2.jfif);
    color: transparent;
    background-clip: text;
    }
    .abstract p{
    text-align: center;
    }
    
    .parallax-clip{
        height: vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .fixed-parallax{
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 800px;
        background-color: rgba(0,0,0,0.5) ;
        margin: 0;
        padding: 0;
    }
    #introduction{
        text-align: center;
        padding: 15px 15px;
        font-size: 11px;
        text-overflow: hidden;
        p{
            background-image: url(img/bgimage1.avif);
            color: transparent;
            background-clip: text;
        }
        
    }
    #backgrount{
        text-align: center ;
        padding: 15px 15px;
        font-size: 12px;
        color: #020100;
        
        text-overflow: hidden;
        p{
            background: rgb(254,92,85);
            background: radial-gradient(circle, rgba(254,92,85,1) 7%, rgba(255,151,146,1) 21%, rgba(238,179,94,1) 47%, rgba(252,176,69,1) 83%);
            color: transparent;
            background-clip: text;
        }
        
    }
    
    .executive h3{
        text-align: center;
        font-size: 75px;
        background-image: url(img/bgimage8.avif);
        color: transparent;
        background-clip: text;
        font-weight: 500;
        text-overflow: hidden;
        }
    .executive p{
          padding: 30px;
        text-align: center;
        font-size: 30px;
        color: black;
        background-clip: text;  
        justify-content: center;
        justify-items: baseline;
        }
    
    .executive{
        padding: 20px;
        text-align: center;
        padding-bottom: 0;
    }
    
    
    .description{
        
        text-overflow: hidden;
        h3{
            text-align: center;
            color: #130f40;
            font-size: 50px;
            padding: 30px;
        }
        p{
            text-align: center;
            padding: 10px;
            font-size: 25px;
        }
    }
    .methods{
        
        text-overflow: hidden;
        h3{
            text-align: center;
            color: #120f40;
            font-size: 75px;
            padding: 20px;
            padding-top: 50px;
        }
        p{
            justify-content: center;
            padding: 20px;
            align-content: center;
            font-size: 25px;
            margin: 20px;
            text-align: center;
        }
        h4{
            text-align: left;
            color: #0060b5;
            font-size: 50px;
            padding: 20px;
            margin-left: 10px;
            display: inline-block;
        }
        ul{
            list-style-type:square;
            list-style-position: inside;
            padding: 20px;
            font-size: 20px;
            color: #0a3d62;
            font-weight: lighter;
    
        }
        img{
            width: 300px;
            height: 200px;
            margin: 20px;
            margin-right: 40px;
            
        }
    }

    .methods img:nth-of-type(odd){
        float: left;
    }
    .methods img:nth-of-type(even){
        float: right;
    }
    .result h3{
            text-align: center;
            color: #120f40;
            font-size: 75px;
            
        text-overflow: hidden;
        }
       
   
    #result p{
        text-align: center;
        font-size: 25px;
        font-weight: lighter;
        color: #07051a;
    }
    .conclusion h2{
            text-align: center;
        }
    .conclusion p{
            text-align: center;
            font-size: 25px;
            color: transparent;
            background-image: url(img/bgimage2.jfif);
            background-clip: text;
            margin: 50px;
            padding: 30px;
        }
    
    
    .last{
        margin: 0;
        top: 0;
        background-color: #192a56;
        color: #40739e;
        height: 300px;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 100px;
        padding-right: 100px;
    
    }
    .lastone{
        background-color: #273c75;
        color: #487eb0;
        text-align: center;
        height: 200px;
        padding: 50px;
    }

}
@keyframes img {
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
    
}
.methods img{
    animation: img linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes appear {
    from{
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
    
}
:is(#abstract,#introduction ,#backgrount,#executive,#description,#methods,#result,#conclusion)
:is(h2,h3,h4,p)
{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}





